@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
}

/* 캘린더 커스텀 */
.custom-calendar .react-calendar__navigation {
  pointer-events: none;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 12px;
  text-align: center;
}

.custom-calendar .react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  color: #b6b6b6;
  letter-spacing: 0;
  margin-bottom: 8px;
}

.custom-calendar .react-calendar__month-view__weekdays__weekday abbr {
  text-decoration: none !important;
}

.custom-calendar .react-calendar__tile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  width: 40px;
  height: 36px;
  margin: 8px 0;
}

.custom-calendar .react-calendar__tile abbr {
  text-align: center;
}

.custom-calendar .highlight-color {
  background-color: #baa9ff;
  border: 3px solid #e5dfff;
  border-left: none;
  border-right: none;
}

.custom-calendar .highlight-color abbr {
  font-weight: 700;
  color: white;
}

.custom-calendar .highlight-image-start {
  border-left: 3px solid #e5dfff !important;
  border-top-left-radius: 28px;
  border-bottom-left-radius: 28px;
}

.custom-calendar .highlight-image-end {
  border-right: 3px solid #e5dfff !important;
  border-top-right-radius: 28px;
  border-bottom-right-radius: 28px;
}

.custom-calendar .highlight-image-same {
  border: 3px solid #e5dfff !important;
  border-radius: 28px;
}

/* 배너 커스텀 */
#custom-swiper .swiper-pagination {
  position: absolute;
  bottom: 0;
}

#custom-swiper .swiper-pagination-bullet {
  width: 5px;
  height: 5px;
  background-color: #bfb1ff;
  opacity: 0.6;
  transition: all 0.3s ease-in-out;
  margin: 0 3px;
}

#custom-swiper .swiper-pagination-bullet-active {
  width: 17px;
  border-radius: 12px;
  background-color: #6d2ff2;
  opacity: 1;
}

@media (min-height: 801px) {
  #custom-swiper {
    padding-top: 40px;
  }

  #banner-text {
    margin-bottom: 24px;
  }
}
