@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

/* 캘린더 커스텀 */
.custom-calendar .react-calendar__navigation {
  pointer-events: none;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 12px;
  text-align: center;
}

.custom-calendar .react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  color: #b6b6b6;
  letter-spacing: 0;
}

.custom-calendar .react-calendar__month-view__weekdays__weekday abbr {
  text-decoration: none !important;
}

.custom-calendar .react-calendar__tile {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-size: 14px;
  font-weight: 500;
  width: 40px;
  height: 40px;
  margin: 4px 0;
}

.custom-calendar .highlight-color abbr {
  background-color: #ebe2ff;
}

.custom-calendar .highlight-image-same,
.custom-calendar .highlight-image-start,
.custom-calendar .highlight-image-end {
  position: relative;
}

.custom-calendar .highlight-image-same div,
.custom-calendar .highlight-image-start div,
.custom-calendar .highlight-image-end div {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 2;
}

.custom-calendar .highlight-image-start div:after {
  content: "";
  background-color: #ebe2ff;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 21px;
  z-index: -1;
}

.custom-calendar .highlight-image-end div:after {
  content: "";
  background-color: #ebe2ff;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50%;
  height: 21px;
  z-index: -1;
}

.custom-calendar .highlight-image-same abbr,
.custom-calendar .highlight-image-start abbr,
.custom-calendar .highlight-image-end abbr {
  font-weight: 700;
  color: #552baf;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
}
